<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="HolidayServiceSoapTestSuite" id="41af43e9-17d2-4e05-947b-203392cd2911" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">true</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="41af43e9-17d2-4e05-947b-203392cd2911fileName">HolidayServiceSoapTestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>PARALLELL</con:runType><con:properties/><con:reportParameters/></con:testSuite>